html {
    background-color: rgb(236, 238, 241);
}

header {
    width: 1291px; /*100%*/
    height: 60px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

header div {
    display: flex;
    justify-content: flex-end;
}

header div div {
    display: block;
    color: rgb(80, 80, 80);
    font-family:AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

}

header div div a {
    text-decoration: unset;
    color: rgb(0, 119, 197);
}

header div div button {
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100.5px;
    height: 31.7px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    border-color: rgb(76, 76, 76);
    border-style: solid;
    border-width: 1.111px;
    border-radius: 4px;
    font-size: 13.5px;
    background-color: rgb(0, 119, 197);
}

header div div button img {
    width: 12px;
}

section {
    background-color: transparent;
}

.headerIcons {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: green; /*rgb(236, 238, 241);*/

}

.createAccount {
    width: 318px;
    height: 609px; /*80%*/
    padding: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(199, 199, 199);
    background-color: white;
}

aside {
    position: fixed;
    right: 5%;
    bottom: 0;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 21px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(107, 108, 114);
    z-index: 100;
}

aside p {
    font-family: AvenirNext, Avenir, "Helvetica Neue";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    background-color: rgb(107, 108, 114);
    z-index: 100;
}

footer {
    color: rgb(80, 80, 80);
    width: 90%;
    height: 59px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-family: AvenirNext, Avenir, "Helvetica Neue";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.terms {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

footer div a {
    color: rgb(80, 80, 80);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    text-decoration-style: solid;
    padding-left: 10px;
}

footer div a:hover {
    color: rgb(80, 80, 80);
    text-decoration-line: underline;
}

footer div p {
    width: 701px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
